<h1>New Recipe</h1>

<<<<<<< HEAD
<%= form_with(model: @recipe, url: recipes_path) do |form| %>
=======
<%= form_with(model: @recipe) do |form| %>
>>>>>>> 11030fc831fa29faea48875aadc936640e718551
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, Recipe::VALID_CATEGORIES %>
  </div>

  <div class="field">
    <%= form.label :meal_category %>
    <%= form.text_field :meal_category %>
  </div>

  <div class="field">
    <%= form.label :instructions %>
    <%= form.text_area :instructions %>
  </div>

  <div class="field">
    <%= form.submit "Create Recipe" %>
  </div>
<% end %>
