<div class="has-text-centered">
  <h1 class="title is-1 has-text-weight-bold">Welcome to Calsense!</h1>
</div>
<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">

        <div class="dropdown is-active is-right">
          <div class="dropdown-trigger">
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <%= link_to "Foodlog", entries_path, class: "dropdown-item is-primary is-large" %>
              <%= link_to "Take Survey", new_survey_path, class: "dropdown-item is-success is-large" %>
              <%= link_to "Diet Plans", diet_plans_path, class: "dropdown-item is-info is-large" %>
              <%= link_to "Know your Body Status", calculate_bmi_path, class: "dropdown-item is-warning is-large" %>
              <%= link_to 'Recipes', recipes_path, class: "dropdown-item is-primary is-large" %>
              <%= link_to "Explore Health Experts", health_experts_path, class: "dropdown-item is-info is-large" %>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

